/* Responsive Media */

img, audio, video {
  display: block;
  max-width: 100%;
}


/* ===== BASE STYLES ===== */

/*
  Major Sixth Modular Scale:
  http://www.modularscale.com/?22&px&1.667&web&text
*/

html {
  font-size: 1.375em;
  /* 22px */
  line-height: 1.182em;
  /* 26px / ~ 120% */
  padding: 1.182em;
  /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

/* ===== LAYOUT STYLES ====== */

h1 {
  font-size: 2.00em;
  line-height: 1.618em;
  text-align: center;
  font-family: "Arvo", serif;
  text-transform: uppercase;
}
h2 {
  font-size: 1.618em;
  line-height: 1.618em;
  text-align: center;
  font-family: "Glegoo", serif;
  text-transform: uppercase;
}
h3 {
  font-size: 1.518em;
  line-height: 1.618em;
  text-align: left;
  font-family: "lobster", serif;
  text-transform: uppercase;
}
section {
  text-align: center;
  font-family: Arvo;
}
body {
  background-color: #405DE6;
}
#logo {
  width: 90%;
  /*height: 4.632em; */
  /* 101.913px */
}
p {
  font-family: Glegoo;
  margin-top: 0.6em;
  /* 13.197px */
  margin-bottom: 0.6em;
  /* 13.197px */
  padding-top: 0.129em;
  /* 2.849px */
  padding-bottom: 0.129em;
  /* 2.849px */
  line-height: 2.01em;
}
label {
  display: inline-block;
  padding-top: 0.297em;
  padding-bottom: 0.297em;
}
/* Computers, Large screens */

@media screen and (min-width: 996px) {
  body {
    width: 960px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #5851DB;
  }

  #logo {
  width: 90%;
  align-self: center;
  /*height: 4.632em; */
  /* 101.913px */
}

}

/*medium-screens*/

@media screen and (max-width: 668px) {
  body {
    background-color: #833AB4;
  }

#logo {
  width: 90%;
  height: 90%;
  align-self: center;
  /*height: 4.632em; */
  /* 101.913px */
}



/* Small Devices, Phones */

@media screen and (max-width: 360px) {
  label {
    display: inline-block;
    padding-top: 0.297em;
    padding-bottom: 0.297em;
  }
  p {
    width: 100%;
  }
  input[type=email] {
    width: 60%;
  }
  input[type=text] {
    width: 60%;
  }
  input[type=radio] {
    width: 10%;
  }
  body {
    background-color: #C13584;
  }
}